import React from 'react';
import './recipe.css';


export const Recipe{{properCase name}} = () => {
    return (
        <React.Fragment>
            <div className="ingredients">
                <ul>
                    {{#each ingredients}}
                   <li>{{this.quantity}}{{unless isNoUnit this.unit}} {{this.unit}} {{/unless}}{{this.ingredient}}</li>
                   {{/each}}
                </ul>
            </div>
            <div className="steps">
                <ol>
                    {{#each steps}}
                    <li>{{this.step}}</li>
                    {{/each}}
                </ol>
            </div>
        </React.Fragment>
    );
};
