import React from 'react';
import './recipe.css';


export const Recipe{{name}} = () => {
    return (
        <React.Fragment>
            <div className="ingredients">
                <ul>
                   <li>{{ingredient1}}</li>
                   <li>{{ingredient2}}</li>
                   <li>{{ingredient3}}</li>
                </ul>
            </div>
            <div className="steps">
                <ol>
                    <li>{{step1}}</li>
                    <li>{{step2}}</li>
                    <li>{{step3}}</li>
                </ol>
            </div>
        </React.Fragment>
    );
};
